<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Counter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <div class="row align-items-center vh-100">
        <div class="col-md-6 mx-auto">
          <div class="card shadow border">
            <div class="card-body bg-dark text-light d-flex flex-column align-items-center">
              <h3>Counter</h3>
              <h1>{{count}} views</h1>
              <a href="/reset">Reset</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
